/******************************** Variables ********************************/

:root {
    --dark: #1e1e1e;
    --light: #c3c3c3;
    --warning: #ff0000;
}

/******************************** Global Styles ********************************/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* Enable smooth scrolling */
    scroll-behavior: smooth;
    /* Background color */
    background-color: var(--dark);
    /* Text color */
    color: var(--light);
}

/******************************** Header Styles ********************************/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--dark);
    padding: 10px 20px;
    box-shadow: 0 2px 4px var(--warning);
    z-index: 1000;
}

header h1 {
    margin: 0;
    display: inline;
}